:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--background-color:#F5F4FA;
--hero-color:#FFFFFF;
--primary-bg-color:#E5E5E5;

}

body {
    background-color:#F5F4FA;
    color:var(--primary-text-color);
}   font-femeli:Montserrat, sans-self;



.logo {
    color:var(--title-text-color);
}

.list {
     list-style: none;
}

/* site nav */
.site-nav .link {
    color:var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .link.current {
    color:var(--title-text-color);
}
    /* Hero. колір є */

.hero-title {
    color:var(--hero-color) 
}

/* section */

.section-title {
    color:var(--title-text-color);
}

/* features */
.feature-list .title {
    color:var(--title-text-color);
}

/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}
.button.primary {
    background-color:var(--accent-color);
    color:var(--hero-color);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var

/* body { 
    font-family: 'Roboto', sans-serif;
.site-nav list{
    list-style: none;
}

/* .list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.btn{
    cursor: pointer;
} */

/* .logo{ 
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
.web{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
} */

 
  /*  
.logo-link-dark{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);   
}
.logo-item{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
} */