:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--background-color:#F5F4FA;
--hero-color:#FFFFFF;
--primary-bg-color:#E5E5E5;
--background-color-two:#2F303A;
}

body {
    background-color:var(--background-color);
    color:var(--primary-text-color);
    font-family:Roboto, Raleway;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;   
}

/* logo */

.logo {
    color:var(--title-text-color);
    font-family:Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-decoration: none
}

.web {
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.list {
     list-style: none;
     
}

/* site nav */
.site-nav .list {
    color:var(--primary-text-color);
    font-weight:500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

   
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .list.current {
    color:var(--title-text-color);
}

.link {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none
}


    /* Hero.*/
.hero {
    background-color:var(--background-color-two)
}
.hero-title {
    color:var(--hero-color);
    background-color:var()
    ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}

/* section */

.section-title {
    color:var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}

/* features */
.feature-list ,title {
    color:var(--title-text-color);    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    list-style: none;
}

.features-text {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
}
.button.primary {
    background-color:var(--accent-color);
    color:var(--hero-color);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer{
    background-color:var(--background-color-two);
}
.footer-link-light{
    font-family: Raleway
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}
.contakts-address{
    font-style: inherit;
    
}
.address-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
    background-color: var(--background-color);
}
